@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden !important;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b4b4d; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #252934; 
}

#main-container {
  height: 100vh;
  background-color: #252934;
}

/* Navbar */

.navbar {
  background-color: transparent;
  border-bottom: 3px solid #15a26b;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  line-height: 44px;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #f5f5f5;
}

.navbar .navbar-nav .nav-item .active,
.navbar-dark .navbar-nav .nav-link:hover,
.titlename {
  color: #15a26b;
  font-weight: 400;
}
.navbar .navbar-nav .nav-item .active,
.navbar-dark .navbar-nav .nav-link:active {
  color: #15a26b;
  font-weight: bold;
}
.navbar-nav li a {
  text-transform: uppercase;
}

.navbar #social i {
  font-size: 16px;
  padding: 0;
}

#social a,
.nav-link {
  color: #f5f5f5;
  padding: 10px;
}

/* End Navbar */

/* Header */
#header-container {
  color: #f5f5f5;
  margin-top: 83px;
  height: calc(100vh - 83px);
  background: transparent;
}

#header-container p {
  font-size: 44px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.btn-more {
  border-radius: 0%;
  border: 2px solid #f5f5f5;
  text-transform: uppercase;
  color: #f5f5f5;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.btn-more:hover {
  color: #15a26b;
  box-shadow: 0 0 10px 0 #15a26b inset, 0 0 10px 4px #15a26b;
}

#titlename{
  border-right: 4px solid #fff;
}

.typing-animation{
  animation: blinkCursor 500ms steps(28) infinite normal, typing 2s steps(28) 1s normal both;
}
@keyframes typing{
  from {
    width: 0;
  }
  to{
    width: 100%;
  }
}
@keyframes blinkCursor{
  from {
    border-right-color: #fff;
  }
  to {
    border-right-color: transparent;
  }

}

.titlename {
  font-weight: 700;
}

/* Animate */
.anime-left,
.anime-right,
.anime-top,
.anime-bottom {
  opacity: 0;
  transition: 0.3s;
}
.anime-left {
  transform: translate3d(-100px, 0, 0);
}
.anime-right {
  transform: translate3d(+100px, 0, 0);
}
.anime-top {
  transform: translate3d(0, -100px, 0);
}
.anime-bottom {
  transform: translate3d(0, +100px, 0);
}
.anime-start {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/* End Animate */

.progress-bar {
  background-color: #1b242f;
}
/* About */
.about {
  font-size: 18px;
}
.about .card-text {
  text-align: center;
}
.about-icons {
  font-size: 128px;
  color: #252934;
}
.about h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 50px 0 50px 0;
}
.about,
.portfolio,
.contact {
  padding: 50px;
}

/* Portfolio */
.portfolio {
  background-color: #f5f5f5;
}
.portfolio h1{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 50px 0 50px 0;
}
.card{
  transition: .5s ease all;
}

.card:hover{
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-effects {
  height: 100%;
  margin: 10px;
  background-color: #363636;
  border: 0;
}

.card-effects > .card {
  height: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 0;
  transition: 0.12s ease-in-out;
  opacity: 0.9;
}

.card-effects > .card:hover {
  -webkit-transform: translate(-12px);
  transform: translate(12px, -12px);
  opacity: 1;
}

/* Contact*/
.contact {
  background-color: #252934;
  color: #f5f5f5;
}
.contact h1{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 50px 0 50px 0;
}
.list-group-item>.nav-link:hover{
  color: rgb(21, 162, 107);
}
/*Form Contact*/

.form-contact input {
  border-radius: 0;
}

.form-control:focus {
  border-color: #15a26b;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

#form-btn {
  width: 100px;
  border-radius: 0;
  background-color: transparent;
  border-color: #f5f5f5;
  text-transform: uppercase;
}

footer {
  text-align: center;
  background-color: #1b242f;
  color: #f5f5f5;
}

footer p {
  vertical-align: bottom;
}

footer span {
  text-transform: uppercase;
}
footer .nav-link {
  font-size: 24px;
}
footer .nav-link:hover {
  color: #15a26b;
}
.menu-footer {
  height: 150px;
  padding: 50px;
}

/*Button Top Page*/
#btnTop {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 1000;
  background-color: #1b242f;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 0;
  display: none;
}

#btnTop:focus {
  outline: none;
  box-shadow: none;
}
/* animation header*/
svg {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* SMOKE */
#smoke-1 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s ease infinite;
}

#smoke-2 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s 0.5s ease infinite;
}

@keyframes smoke {
  0% {
    stroke-dasharray: 0, 10;
  }
  50% {
    stroke-dasharray: 10, 0;
  }
  100% {
    stroke-dasharray: 10, 0;
    opacity: 0;
  }
}

/* WRITING */
#line-1 {
  opacity: 0;
  animation: writing 0.5s linear forwards;
}

#line-2 {
  opacity: 0;
  animation: writing 0.5s 1s linear forwards;
}

#line-3 {
  opacity: 0;
  animation: writing 0.5s 1.5s linear forwards;
}

#line-4 {
  opacity: 0;
  animation: writing 0.5s 2s linear forwards;
}

@keyframes writing {
  0% {
    width: 0px;
    opacity: 1;
  }
  100% {
    width: 14px;
    opacity: 1;
  }
}

/* Media Queries */

@media (min-width: 500px) and (max-width: 767px) {
  #header-container p {
    font-size: 29px;
  }
  #header-container h2 {
    font-size: 22px;
  }
  .btn-more {
    width: 150px;
    font-size: 12px;
  }
  .offcanvas-header {
    background-color: #1b242f;
    border-bottom: 3px solid #15a26b;
    color: #f5f5f5;
  }

  .offcanvas-body {
    background-color: #252934;
  }
  .offcanvas-end {
    width: 300px;
  }
  #social {
    position: absolute;
    bottom: 0;
    right: 15px;
  }

  .navbar-dark .navbar-toggler {
    color: transparent;
    border-color: transparent;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .offcanvas-header {
    background-color: #1b242f;
    border-bottom: 3px solid #15a26b;
    color: #f5f5f5;
  }
  .offcanvas-body {
    background-color: #252934;
  }
  #social {
    position: absolute;
    bottom: 0;
    right: 15px;
  }
  .navbar-dark .navbar-toggler {
    color: transparent;
    border-color: transparent;
  }
}

@media (min-width: 992px) {
}
